$left-column-width: 19rem;

html {
    font-size: 14px;
    line-height: 14px;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

#app-root {
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
}

.application {
    display: grid;
    grid-template-rows: 1fr 2rem;
    background-color: #f2f5f8;
    color: #303132;
    height: 100%;
    max-height: 100%;
    width: 100%;
}

.everything-above-status {
    position: relative;
    display: grid;
    grid-template-columns: $left-column-width 1fr;
    min-height: 0;
    min-width: 0;
}

.main-left-column {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-right: 2px solid #9ca3ac;
    min-height: 0;
    min-width: $left-column-width;
    overflow-y: scroll;
}

.queue-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.queue {
}

.main-area {
    position: absolute;
    left: $left-column-width;
    right: 0;
    bottom: 0;
    top: 0;
    max-height: 100%;
    display: grid;
    grid-template-rows: 3.5rem 1fr;
}

.status-region {
    border-top: 2px solid #9ca3ac;
    padding: 0.5rem;
    background-color: #dadee1;
    font-size: 0.8rem;
    color: #3e3e3e;
}

.queue-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    width: calc($left-column-width - 1rem);
    max-width: calc($left-column-width - 1rem);
    margin: 0.5rem;
}

.queue-item-index {
    font-size: 1.5rem;
    color: #aaa;
    padding: 0.5rem;
    padding-left: 0;
}

.queue-item-body {
    flex-grow: 1;
    min-width: 0;
    // background-color: #b9cbd8;
    background-color: #b9cbd844;
    border: 1px solid #a9bbc8;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.125);
    box-sizing: border-box;

    &:hover {
        background-color: #b9d2d8;
    }
}

.not-ready {
    background-color: #b9cbd844;
    border: 1px dashed #a9bbc8;
}

.selected {
    outline: 4px dashed #70d2af;
    background-color: #b9d2d8;
    // &:hover {
    //     background-color: #d9fbf8;
    // }
}

.dragging-queue-item {
    background: #a8c5dd;
}

.prompt-text-preview {
    font-size: 0.8rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.primary-button {
    display: flex;
    flex-direction: row;
    background-color: #9aa7ec !important;
    color: black !important;
    height: 3rem;
}

.tab-panel {
    overflow-y: scroll;
    // dot pattern
    background-size: 12px 12px;
    background-image: radial-gradient(
        circle,
        #bbccee 1px,
        rgba(0, 0, 0, 0) 1px
    );
}

.genq-basic-input {
    background-color: white;
}

.aux-value-display {
    padding: 0.5rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    border: 1px solid #6663;
}

.ready-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #94e4a8;
    border-radius: 5px;
    padding: 0.5rem;
    padding-top: 0;
    padding-bottom: 0;
}

.ready-text {
    font-size: 1rem;
    color: #4f4f4f;
}

.generation-editor {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.editor-footer {
    display: flex;
    flex-direction: row;
}

.editor-header {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 5rem;
    justify-content: space-between;
    padding-right: 1rem;
    color: #999;
    border-bottom: 1px solid #ccc;
    margin-bottom: 0.5rem;
    background-color: rgba(0, 0, 0, 0.05);
}

.big-icon {
    display: inline-block;
    color: #bbb;
}

.paint-controls {
    display: flex;
    flex-direction: row;
}
