$left-column-width: 19rem;
$completed-image-size: 30rem;
$selection-green: #70d2af;

html {
    font-size: 14px;
    line-height: 14px;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

#app-root {
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
}

.application {
    display: grid;
    grid-template-rows: 1fr 2rem;
    background-color: #f2f5f8;
    color: #303132;
    height: 100%;
    max-height: 100%;
    width: 100%;
}

.everything-above-status {
    position: relative;
    display: grid;
    grid-template-columns: $left-column-width 1fr;
    min-height: 0;
    min-width: 0;
}

.main-left-column {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-right: 2px solid #9ca3ac;
    min-height: 0;
    min-width: $left-column-width;
    overflow-y: scroll;
}

.queue-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.queue {
}

.main-area {
    position: absolute;
    left: $left-column-width;
    right: 0;
    bottom: 0;
    top: 0;
    max-height: 100%;
    display: grid;
    grid-template-rows: 3.5rem 1fr;
}

.status-region {
    border-top: 2px solid #9ca3ac;
    padding: 0.5rem;
    background-color: #dadee1;
    font-size: 0.8rem;
    color: #3e3e3e;
}

.queue-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    width: calc($left-column-width - 1rem);
    max-width: calc($left-column-width - 1rem);
    margin: 0.5rem;
    margin-bottom: 1rem;
    transition: transform 300ms;
    transform-origin: top center;
}

.queue-item-exit {
    transform: scale(1, 1);
}

.queue-item-exit-active {
    transform: scale(1, 0);
}

.queue-item-enter {
    transform: scale(1, 0);
}

.queue-item-enter-active {
    transform: scale(1, 1);
}

.queue-item-appear {
    transform: scale(1, 0);
}

.queue-item-appear-active {
    transform: scale(1, 1);
}

.queue-item-index {
    font-size: 1.5rem;
    color: #aaa;
    padding: 0.5rem;
    padding-left: 0;
}

.queue-item-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    min-width: 0;
    min-height: 4rem;
    background-color: #b9cbd844;
    border: 1px solid #a9bbc8;
    padding: 0;
    border-radius: 5px;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.125);
    box-sizing: border-box;
    cursor: pointer;

    &:hover {
        background-color: #b9d2d8;
    }
    transition: background-color 120ms;
}

.not-ready {
    background-color: #b9cbd844;
    border: 1px dashed #a9bbc8;
}

.selected {
    outline: 4px dashed $selection-green;
    background-color: #b9d2d8;
    // &:hover {
    //     background-color: #d9fbf8;
    // }
}

.dragging-queue-item {
    background: #a8c5dd;
}

.prompt-text-preview {
    font-size: 0.8rem;
}

.primary-button {
    display: flex;
    flex-direction: row;
    background-color: #9aa7ec !important;
    color: black !important;
    height: 3rem;
}

.tab-panel {
    overflow-y: scroll;
    // dot pattern
    background-size: 12px 12px;
    background-image: radial-gradient(
        circle,
        #dedede 1px,
        rgba(0, 0, 0, 0) 1px
    );
}

.genq-basic-input {
    background-color: white;
}

.aux-value-display {
    padding: 0.5rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    border: 1px solid #6663;
}

.status-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #94e4a8;
    border-radius: 5px;
    padding: 0.5rem;
    padding-top: 0;
    padding-bottom: 0;
}

.status-text {
    font-size: 1rem;
    color: #4f4f4f;
}

.generation-editor {
    position: relative;
    height: 100%;
    min-height: fit-content;
}

.editor-footer {
    display: flex;
    flex-direction: row;
}

.editor-header {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 5rem;
    justify-content: space-between;
    padding-right: 1rem;
    color: #999;
    border-bottom: 1px solid #ccc;
    margin-bottom: 0.5rem;
    background-color: rgba(0, 0, 0, 0.05);
}

.paint-controls {
    display: flex;
    flex-direction: row;
}

.file-hover {
    outline: 4px dashed $selection-green;
}

.grouping-capsule {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.05);
    border: 1px solid #ccc;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.do-pulse {
    animation: pulse 1.5s, color-cycle 7s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    background-color: #bdc2da;
}

@keyframes color-cycle {
    0% {
        filter: hue-rotate(0) brightness(100%);
    }

    25% {
        filter: hue-rotate(180deg) brightness(115%);
    }

    50% {
        filter: hue-rotate(360deg) brightness(100%);
    }

    75% {
        filter: hue-rotate(180deg) brightness(115%);
    }

    100% {
        filter: hue-rotate(0);
    }
}

@keyframes pulse {
    0% {
        filter: brightness(100%);
    }

    50% {
        filter: brightness(200%);
    }

    100% {
        filter: brightness(100%);
    }
}

.mini-console {
    background-color: black;
    color: white;
    padding: 0.025rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    word-break: keep-all;
    overflow: hidden;
    font-family: courier;
    min-height: 0.8rem;
    font-size: 0.6rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    /* Beginning of string */
    direction: rtl;
    text-align: left;
}

.running-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 10;
    color: white;
}

.terminal {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    bottom: 0;
    width: 100%;
    max-width: 100%;
    height: 15rem;
    max-height: 15rem;
    background-color: black;
}

.terminal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
}

.terminal-text {
    flex-grow: 1;
    overflow-y: scroll;
    background-color: black;
    color: white;
    word-wrap: break-word;
    word-break: break-all;
    min-height: 1rem;
}

.completed-generations {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
}

.completed-gtask {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #f2f5f8;
    border: 1px solid #bdccdb;
    border-radius: 10px;
    margin-left: 1rem;
    margin-top: 1rem;
    padding: 1rem;
    padding-top: 0;

    box-shadow: 0 2px 10px rgb(0 0 0 / 15%);
    transform: scale(1, 1);
    transition: 0.2s ease-out;
}

.gtask-image-container {
    position: relative;
    width: $completed-image-size;
    height: $completed-image-size;
    overflow: hidden;
}

.gtask-image {
    width: $completed-image-size;
    height: $completed-image-size;
}

.completed-gtask-title {
    padding: 0.5rem;
    padding-left: 0;
    width: $completed-image-size;
    color: #444;
}

.completed-gtask-prompt {
    width: $completed-image-size;
    height: 6rem;
    max-height: 6rem;
    overflow-y: scroll;
    flex-grow: 1;
    max-width: $completed-image-size;
    background-color: rgba(185, 203, 216, 0.2);
    border: 1px dashed #a9bbc8;
    padding: 1rem;
    margin-top: 1rem;
    font-size: 0.9rem;
    box-sizing: border-box;
    color: #444;
}

.completed-gtask-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    color: #666;

    margin-top: 1rem;
}

.delete-limbo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    border-radius: 10px;
    padding: 1rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 12;
}

.delete-limbo-prompt {
    font-size: 1.5rem;
    line-height: 1.8rem;
    text-align: center;
    color: #eee;
    font-style: italic;
}

.delete-limbo-count {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2rem;
    color: #eb5a5a;
}

.delete-limbo-count-anim {
    animation: big-fade-in 750ms;
}

@keyframes big-fade-in {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(15, 15);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1, 1);
    }
}

.missing-output-msg {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    padding: 1rem;
    color: white;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.75);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.details-dialog {
    padding: 1rem;
    overflow-y: scroll;
}

.details-table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1px;
    padding: 1px;
    background-color: #c1c1c1;
}

.gallery {
    padding: 2px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.gallery-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    // background-color: #f2f5f8;
    // border-bottom: 1px solid #d5d7da;
    flex-shrink: 0;
}

.gallery-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
}

.gallery-item {
    background-color: #d9dde4;
    border: 1px solid #bbc7d1;
    border-radius: 5px;
    padding: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.2);
    transition: all 150ms ease;
    cursor: pointer;

    &:hover {
        transform: perspective(1000px) rotateY(15deg) rotateX(8deg)
            scale(1.06, 1.06);
        box-shadow: 0 0.25rem 0.85rem rgba(0, 0, 0, 0.4);
        animation: color-cycle 2s;
        animation-timing-function: ease;
        animation-iteration-count: infinite;
    }
}

.gallery-image {
    width: 10rem;
    height: 10rem;
    border-radius: 5px;
}

.full-view {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    z-index: 100;
    outline: 0;
}

.full-view-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.full-view-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-grow: 1;
}

.full-view-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
}

.change-image-btn {
    flex-grow: 0;
    padding: 1rem;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 150ms ease;
    outline: 0;

    &:hover {
        background-color: rgba(255, 255, 255, 0.125);
    }
}

.full-view-img {
}

.full-view-prompt {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 1rem;
    color: #ccc;
}

.full-view-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
