html {
    font-size: 14px;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

#app-root {
    width: 100vw;
    height: 100vh;
}

.application {
    display: flex;
    flex-direction: column;
    background-color: #f2f5f8;
    color: #303132;
    height: 100%;
    width: 100%;
}

.everything-above-status {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.main-left-column {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    border-right: 2px solid #9ca3ac;
}

.main-area {
    display: flex;
    flex-grow: 1;
}

.status-region {
    flex-grow: 0;
    border-top: 1px solid #9ca3ac;
    padding: 0.5rem;
    background-color: #dadee1;
    font-size: 0.8rem;
    color: #3e3e3e;
}

.queue-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.queue {
}

.queue-item {
    width: 18rem;
    margin: 0.5rem;
    margin-bottom: 0.75rem;
    background-color: #b9cbd8;
    border: 1px solid #a9bbc8;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.125);
    box-sizing: border-box;

    &:hover {
        background-color: #c9dbe8;
    }
}

.selected {
    outline: 4px dashed #70d2af;
}

.dragging-queue-item {
    background: #a8c5dd;
}

.prompt-text-preview {
    font-size: 0.8rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.primary-button {
    background-color: #9aa7ec !important;
    color: black !important;
}

.tab-panel {
    // dot pattern
    background-size: 12px 12px;
    background-image: radial-gradient(
        circle,
        #bbccee 1px,
        rgba(0, 0, 0, 0) 1px
    );
    flex-grow: 1;
}

.genq-basic-input {
    background-color: white;
}
